
*{
  margin:0px;
  padding:0px;
}

body { 
  background-color: #fff9f2; 
}

.icon-console{
  width: 50px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  font-size: 34px;
  padding: auto;
  text-indent: 8px;
  color: #7b7b7b;
}

#spotlight {
  display: block;
  width: 550px;
  height: 60px;
  margin-left: 50px;
  outline: none;
  font-size: 1.6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  backgroundcolor: #f8f5f4;
  border: none;
  text-indent: 5px;
}
